<form class="{{cssClass}} flexcol limited" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />

    <section class="header-details">
      <h1>
        {{actor.name}}
      </h1>
    </section>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography flexrow">
      <div class="note-entries">
        <article>
          <h4 class="section-titles biopage">{{ localize "DND5E.Appearance" }}</h4>
          {{editor content=system.details.appearance target="system.details.appearance" button=true owner=owner editable=editable}}
        </article>
        <article class="biography-notes big-bio">
          <h4 class="section-titles">{{ localize "DND5E.Background" }}</h4>
          {{editor content=system.details.biography.value target="system.details.biography.value" button=true owner=owner editable=editable}}
        </article>
      </div>
    </div>

  </section>
</form>