<form class="{{cssClass}} flexcol" autocomplete="off">

  {{> (concat moduleFilePath "templates/parts/sheet-header.hbs")}}

  {{!-- Ability Scores --}}
  <ul class="ability-scores ability-score-row">
    {{#each abilities as |ability id|}}
    <li class="ability {{#if ability.proficient}}proficient{{/if}}" data-ability="{{id}}">
      <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
      <input type="text" name="system.abilities.{{id}}.value" value="{{ability.value}}" class="ability-score"
        placeholder="10" data-dtype="Number">
      <div class="ability-modifiers flexrow">
        <span class="ability-mod" title="{{ localize 'DND5E.Modifier' }}">{{numberFormat ability.mod decimals=0
          sign=true}}</span>
        <input type="hidden" name="system.abilities.{{id}}.proficient" value="{{ability.baseProf}}"
          data-dtype="Number" />
        <a class="proficiency-toggle ability-proficiency"
          title="{{ localize 'DND5E.Proficiency' }}">{{{ability.icon}}}</a>
        <span class="ability-save" title="{{ localize 'DND5E.SavingThrow' }}">{{numberFormat ability.save decimals=0
          sign=true}}</span>
      </div>
      <a class="config-button" data-action="ability" data-tooltip="{{localize 'DND5E.AbilityConfigure'}}">
        <i class="fas fa-cog"></i>
      </a>
    </li>
    {{/each}}

    <li class="attribute initiative">
      <h4 class="attribute-name box-title rollable" data-action="rollInitiative">{{ localize "DND5E.Initiative" }}</h4>
      <a class="config-button" data-action="initiative" data-tooltip="{{localize 'DND5E.InitiativeConfig'}}">
        <i class="fas fa-cog"></i>
      </a>
      <div class="attribute-value">
        <span>{{numberFormat system.attributes.init.total decimals=0 sign=true}}</span>
      </div>

      <footer class="attribute-footer"></footer>
    </li>

    <li class="attribute movement">
      <h4 class="attribute-name box-title">{{ localize "DND5E.Movement" }}</h4>
      <a class="config-button" data-action="movement" data-tooltip="{{localize 'DND5E.MovementConfig'}}">
        <i class="fas fa-cog"></i>
      </a>
      <div class="attribute-value">
        <span>{{movement.primary}}</span>
      </div>
      <footer class="attribute-footer">
        <span>{{movement.special}}</span>
      </footer>
    </li>
  </ul>


  {{> (concat moduleFilePath "templates/parts/sheet-sidebar.hbs")}}


  {{!-- Header Attributes --}}
  <ul class="resources">
    {{#each resources as |res|}}
    <li class="attribute resource">
      <h4 class="attribute-name box-title">
        <input name="system.resources.{{res.name}}.label" type="text" value="{{res.label}}"
          placeholder="{{res.placeholder}}" />
      </h4>
      <div class="attribute-value">
        <label class="recharge checkbox">
          {{ localize "DND5E.AbbreviationSR" }} <input name="system.resources.{{res.name}}.sr" type="checkbox" {{checked
            res.sr}} />
        </label>
        <input name="system.resources.{{res.name}}.value" type="text" value="{{res.value}}" data-dtype="Number"
          placeholder="0" />
        <span class="sep"> / </span>
        <input name="system.resources.{{res.name}}.max" type="text" value="{{res.max}}" data-dtype="Number"
          placeholder="0" />
        <label class="recharge checkbox">
          {{ localize "DND5E.AbbreviationLR" }} <input name="system.resources.{{res.name}}.lr" type="checkbox" {{checked
            res.lr}} />
        </label>
      </div>
    </li>
    {{/each}}
  </ul>


  <div class="sheet-tab-area">
    {{!-- NPC Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
      <a class="item active" data-tab="actions">{{ localize "DND5E.ActionPl" }}</a>
      <a class="item" data-tab="spellbook">{{ localize "DND5E.Spellbook" }}</a>
      <a class="item" data-tab="inventory">{{ localize "DND5E.Inventory" }}</a>
      <a class="item" data-tab="features">{{ localize "DND5E.Features" }}</a>
      <a class="item" data-tab="effects">{{ localize "DND5E.Effects" }}</a>
      <a class="item" data-tab="biography">{{ localize "DND5E.Biography" }}</a>
    </nav>

    {{!-- NPC Sheet Body --}}
    <section class="sheet-body">
      <div class="tab actions flexcol" data-group="primary" data-tab="actions">{{!-- Actions --}}
        <h3>You don't seem to have the module "Character Actions List dnd5e" Active</h3>
      </div>

      {{!-- Spellbook Tab --}}
      <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
        {{> (concat moduleFilePath "templates/parts/actor-spellbook.hbs")}}
      </div>

      {{!-- Inventory Tab --}}
      <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
        {{> (concat moduleFilePath "templates/parts/actor-inventory.hbs") sections=inventory}}
      </div>

      {{!-- Features Tab --}}
      <div class="tab features flexcol" data-group="primary" data-tab="features">
        {{> (concat moduleFilePath "templates/parts/actor-features.hbs") sections=features}}
      </div>

      {{!-- Effects Tab --}}
      <div class="tab effects flexcol" data-group="primary" data-tab="effects">
        {{> "dnd5e.active-effects"}}
      </div>

      {{!-- Biography Tab --}}
      <div class="tab biography flexrow" data-group="primary" data-tab="biography">
        <article>
          <h4 class="section-titles biopage">{{ localize "DND5E.PersonalityTraits" }}</h4>
          {{editor system.details.trait target="system.details.trait" button=true owner=owner engine="prosemirror"
          collaborate=false
          editable=editable}}
        </article>
        <article>
          <h4 class="section-titles biopage">{{ localize "DND5E.Ideals" }}</h4>
          {{editor system.details.ideal target="system.details.ideal" button=true owner=owner engine="prosemirror"
          collaborate=false
          editable=editable}}
        </article>
        <article>
          <h4 class="section-titles biopage">{{ localize "DND5E.Bonds" }}</h4>
          {{editor system.details.bond target="system.details.bond" button=true owner=owner engine="prosemirror"
          collaborate=false
          editable=editable}}
        </article>
        <article>
          <h4 class="section-titles biopage">{{ localize "DND5E.Flaws" }}</h4>
          {{editor system.details.flaw target="system.details.flaw" button=true owner=owner engine="prosemirror"
          collaborate=false
          editable=editable}}
        </article>
        <article>
          <h4 class="section-titles biopage">{{ localize "DND5E.Alignment" }}</h4>

          <input type="text" name="system.details.alignment" value="{{system.details.alignment}}"
            placeholder="{{ localize 'DND5E.Alignment' }}" />
        </article>
        <article>
          <h4 class="section-titles biopage">{{ localize "DND5E.Appearance" }}</h4>

          {{editor system.details.appearance target="system.details.appearance" button=true editable=editable
          engine="prosemirror" collaborate=false}}

        </article>
        <article class="biography-notes big-bio">
          <h4 class="section-titles">{{ localize "DND5E.Background" }}/{{ localize "DND5E.Biography" }}</h4>

          {{editor biographyHTML target="system.details.biography.value" button=true editable=editable
          engine="prosemirror" collaborate=false}}
        </article>

      </div>
    </section>
  </div>

</form>
