<form class="{{cssClass}} flexcol" autocomplete="off">

  {{> (efcs-path "templates/parts/sheet-header.hbs")}}

  {{!-- Ability Scores --}}
  <ul class="ability-scores attributes ability-score-row">
    {{#each data.abilities as |ability id|}}
    <li class="ability {{#if ability.proficient}}proficient{{/if}}" data-ability="{{id}}">
      <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
      <input class="ability-score" name="data.abilities.{{id}}.value" type="text" value="{{ability.value}}"
        data-dtype="Number" placeholder="10" />
      <div class="ability-modifiers flexrow">
        <span class="ability-mod" title="Modifier">{{numberFormat ability.mod decimals=0 sign=true}}</span>
        <input type="hidden" name="data.abilities.{{id}}.proficient" value="{{ability.proficient}}"
          data-dtype="Number" />
        <a class="proficiency-toggle ability-proficiency"
          title="{{ localize 'DND5E.Proficiency' }}">{{{ability.icon}}}</a>
        <span class="ability-save" title="Saving Throw">{{numberFormat ability.save decimals=0 sign=true}}</span>
      </div>
    </li>
    {{/each}}


    <li class="attribute proficiency">
      <h4 class="attribute-name box-title">{{ localize "DND5E.Proficiency" }}</h4>
      <div class="attribute-value">
        {{numberFormat data.attributes.prof decimals=0 sign=true}}</div>
    </li>


    <li class="attribute">
      <h4 class="attribute-name box-title">{{ localize "DND5E.Speed" }}</h4>
      <div class="attribute-value">
        <input name="data.attributes.speed.value" type="text" value="{{data.attributes.speed.value}}" placeholder="0" />
      </div>
      <footer class="attribute-footer">
        <input type="text" class="speed" name="data.attributes.speed.special" value="{{data.attributes.speed.special}}"
          placeholder="{{ localize 'DND5E.SpeedSpecial' }}" />
      </footer>
    </li>

  </ul>


  <div class="sheet-main-wrapper">
    {{> (efcs-path "templates/parts/sheet-sidebar.hbs")}}


    <main class="sheet-main">

      {{!-- Header Attributes --}}
      <ul class="attributes flexrow">
        <li class="attribute">
          <h4 class="attribute-name box-title">{{ localize "DND5E.HitDice" }}</h4>
          <div class="attribute-value multiple">
            <label class="hit-dice">{{data.attributes.hd}} <span class="sep"> / </span>
              {{data.details.level}}</label>
          </div>
        </li>

        <li class="attribute initiative">
          <h4 class="attribute-name box-title">{{ localize "DND5E.Initiative" }}</h4>
          <div class="attribute-value">
            <span>{{numberFormat data.attributes.init.total decimals=0 sign=true}}</span>
          </div>
          <footer class="attribute-footer">
            <span>{{ localize "DND5E.Modifier" }}</span>
            <input name="data.attributes.init.value" type="text" placeholder="0" data-dtype="Number"
              value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}" />
          </footer>
        </li>


        {{#each resources as |res|}}
        <li class="attribute resource">
          <h4 class="attribute-name box-title">
            <input name="data.resources.{{res.name}}.label" type="text" value="{{res.label}}"
              placeholder="{{res.placeholder}}" />
          </h4>
          <div class="attribute-value">

            <input name="data.resources.{{res.name}}.value" type="text" value="{{res.value}}" data-dtype="Number"
              placeholder="0" />
            <span class="sep"> / </span>
            <input name="data.resources.{{res.name}}.max" type="text" value="{{res.max}}" data-dtype="Number"
              placeholder="0" />

          </div>
          <div class="attribute-footer">
            <label class="recharge checkbox">
              {{ localize "DND5E.AbbreviationSR" }} <input name="data.resources.{{res.name}}.sr" type="checkbox"
                {{checked res.sr}} />
            </label>

            <label class="recharge checkbox">
              {{ localize "DND5E.AbbreviationLR" }} <input name="data.resources.{{res.name}}.lr" type="checkbox"
                {{checked res.lr}} />
            </label>
          </div>
        </li>
        {{/each}}

      </ul>
      <div class="sheet-tab-area">
        {{!-- NPC Sheet Navigation --}}
        <nav class="sheet-navigation tabs" data-group="primary">
          <a class="item active" data-tab="attributes">{{ localize "DND5E.Attributes" }}</a>
          <a class="item" data-tab="inventory">{{ localize "DND5E.Inventory" }}</a>
          <a class="item" data-tab="features">{{ localize "DND5E.Features" }}</a>
          <a class="item" data-tab="spellbook">{{ localize "DND5E.Spellbook" }}</a>
          <a class="item" data-tab="biography">{{ localize "DND5E.Biography" }}</a>
        </nav>

        {{!-- NPC Sheet Body --}}
        <section class="sheet-body">

          <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">

            <section class="center-pane flexcol">

              {{!-- Counters --}}
              <div class="counters">
                <div class="counter flexrow death-saves">
                  <h4 class="death-save rollable">{{ localize "DND5E.DeathSave" }}</h4>
                  <div class="counter-value">
                    <i class="fas fa-check"></i>
                    <input type="text" name="data.attributes.death.success" data-dtype="Number" placeholder="0"
                      value="{{data.attributes.death.success}}" />
                    <i class="fas fa-times"></i>
                    <input type="text" name="data.attributes.death.failure" data-dtype="Number" placeholder="0"
                      value="{{data.attributes.death.failure}}" />
                  </div>
                </div>
                <div class="counter flexrow exhaustion">
                  <h4>{{ localize "DND5E.Exhaustion" }}</h4>
                  <div class="counter-value">
                    <input type="text" name="data.attributes.exhaustion" data-dtype="Number" placeholder="0"
                      value="{{data.attributes.exhaustion}}" />
                  </div>
                </div>
                <div class="counter flexrow inspiration">
                  <h4>{{ localize "DND5E.Inspiration" }}</h4>
                  <div class="counter-value">
                    <input type="checkbox" name="data.attributes.inspiration" data-dtype="Boolean"
                      {{checked data.attributes.inspiration}} />
                  </div>
                </div>
              </div>

              {{!-- Traits --}}
              {{> (efcs-path "templates/parts/actor-traits.hbs")}}
            </section>
          </div>

          {{!-- Inventory Tab --}}
          <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
            {{> (efcs-path "templates/parts/actor-inventory.hbs") sections=inventory}}
          </div>

          {{!-- Features Tab --}}
          <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> (efcs-path "templates/parts/actor-features.hbs") sections=features}}
          </div>

          {{!-- Spellbook Tab --}}
          <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
            {{> (efcs-path "templates/parts/actor-spellbook.hbs")}}
          </div>

          {{!-- Biography Tab --}}
          <div class="tab biography flexcol" data-group="primary" data-tab="biography">
            {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
          </div>
        </section>
      </div>
    </main>
  </div>
</form>