{{!-- props: {items: oneof sheetData.actionsData; label: string;} --}}

{{#unless (cb5es-isEmpty items)}}
<li class="item inventory-header flexrow">
  <h3 class="item-name flexrow">{{label}}</h3>

  <div class="item-detail">{{localize "DND5E.Range"}}</div>

  <div class="item-detail">{{localize "CB5ES.HitDC"}}</div>
  <div class="item-detail">{{localize "DND5E.Damage"}}</div>
</li>
<ol class="item-list">
  {{#each items as |item|}}

  <li class="item flexrow" data-item-id="{{item._id}}">
    <div class="item-name flexrow rollable {{#if (eq item.type "feat")}}feat-name-hack{{/if}}">
      <div class="item-image" style="background-image: url({{item.img}})"></div>
      <h4>{{item.name}}</h4>

      {{#if item.data.uses.per }}
      <div class="item-detail spell-uses">Uses {{item.data.uses.value}} / {{item.data.uses.max}}</div>
      {{/if}}
    </div>

    <div class="action-range">
      <span>{{labels.range}}</span>
      {{#if labels.target}}
      <small>
        {{labels.target}}
      </small>
      {{/if}}
    </div>

    <div>
      {{#if (or labels.save labels.toHit)}}
      {{#unless (or (eq labels.save "") (eq labels.save undefined))}}
      <span>{{labels.save}}</span>
      {{else}}
      <span>{{numberFormat labels.toHit digits=0 sign=true}}</span>
      {{/unless}}
      {{/if}}
    </div>

    <div class="damage-cell">
      {{labels.damage}} {{labels.damageTypes}}
    </div>
  </li>
  {{/each}}
</ol>
{{/unless}}