<aside class="sheet-sidebar traits">

  <div class="fancy-value">
    <h4>{{ localize "DND5E.Proficiency" }}</h4>
    <div>{{labels.proficiency}}</div>
  </div>


  <div class="fancy-value">
    <h4>{{ localize "DND5E.Inspiration" }}</h4>
    <div>
      <input type="checkbox" name="system.attributes.inspiration" data-dtype="Boolean" {{checked
        system.attributes.inspiration}} />
      <i class="fas fa-sun {{#if system.attributes.inspiration}}active{{/if}}"></i>
    </div>
  </div>

  {{!-- Skills --}}
  <ul class="skills-list">
    {{#each config.skills as |obj s|}}
    {{#with (lookup ../skills s) as |skill|}}
    <li class="skill flexrow {{#if skill.value}}proficient{{/if}}" data-key="{{s}}">
      <input type="hidden" name="system.skills.{{s}}.value" value="{{skill.baseValue}}" data-dtype="Number" />

      <a class="proficiency-toggle skill-proficiency" title="{{skill.hover}}">{{{skill.icon}}}</a>

      <span class="skill-ability">{{skill.ability}}</span>

      <div class="skill-name-controls">
        <h4 class="skill-name rollable">{{skill.label}}</h4>
        <a class="config-button" data-action="skill" title="{{localize 'DND5E.SkillConfigure'}}"><i
            class="fas fa-cog"></i></a>
      </div>

      <span class="skill-mod">{{numberFormat skill.total decimals=0 sign=true}}</span>

      <span class="skill-passive" title="{{ localize 'DND5E.SkillPassiveHint' skill=skill.label }}">
        ({{skill.passive}})
      </span>
    </li>
    {{/with}}
    {{/each}}
  </ul>

  {{> (concat moduleFilePath "templates/parts/actor-traits.hbs")}}

</aside>
