{{!-- Sheet Header --}}
<header class="sheet-header">
  {{> "dnd5e.actor-warnings"}}

  <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />

  <section class="header-details">
    <h1>
      <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'DND5E.Name' }}" />
    </h1>

    {{!-- Character Summary --}}
    <ul class="inline-summary">
      {{#if disableExperience}}
      <li>
        <span class="non-editable">{{ localize "DND5E.Level" }} {{system.details.level}}</span>
      </li>
      {{/if}}
      <li>
        <input type="text" name="system.details.race" value="{{system.details.race}}"
          placeholder="{{ localize 'DND5E.Race' }}" />
        <span class="invisible">{{#if system.details.race}}{{system.details.race}}{{else}}{{ localize 'DND5E.Race'
          }}{{/if}}</span>
      </li>
      <li><span class="non-editable">{{classLabels}}</span></li>
      <li>
        {{#if labels.background}}
        <span class="non-editable" title="{{localize 'DND5E.Background'}}">{{labels.background}}</span>
        {{else}}
        <input type="text" name="system.details.background" value="{{system.details.background}}"
          placeholder="{{ localize 'DND5E.Background' }}" />
        <span class="invisible">{{system.details.background}}</span>
        {{/if}}
      </li>
    </ul>

    {{#unless disableExperience}}
    <aside class="header-exp flexcol">
      <div class="xpbar">
        <span class="bar" style="width: {{system.details.xp.pct}}%"></span>
      </div>
      <div class="experience flexrow">
        <span class="left-label">{{ localize "DND5E.Level" }} {{system.details.level}}</span>

        <input name="system.details.xp.value" type="text" value="{{system.details.xp.value}}" data-dtype="Number"
          placeholder="0" />
        <span class="sep">/</span>
        <span class="max">{{system.details.xp.max}}</span>

        <span class="right-label">{{ localize "DND5E.Level" }} {{nextLevel}}</span>
      </div>
    </aside>
    {{/unless}}

    <div class="header-actions">
      <a class="rest short-rest">{{ localize 'DND5E.RestS' }}<i class="fas fa-hourglass-half"></i></a>
      <a class="rest long-rest">{{ localize 'DND5E.RestL' }}<i class="fas fa-hourglass-end"></i></a>
      <a class="config-button" data-action="hit-dice" title="{{localize 'DND5E.HitDiceConfig'}}">
        {{localize "DND5E.HitDice"}}: {{system.attributes.hd}}/{{system.details.level}}
      </a>
    </div>
  </section>

  <section>
    <div class="flexrow health-armor">

      <div class="ac attributable" data-property="attributes.ac">
        <div class="ac-symbol">
          {{> (concat moduleFilePath "assets/armor-class.hbs")}}
        </div>
        <h4>Armor</h4>
        <div class="attribute-value">
          <span>{{system.attributes.ac.value}}</span>
        </div>
        <h4>Class</h4>
        <a class="config-button" data-action="armor" title="{{localize 'DND5E.ArmorConfig'}}"><i
            class="fas fa-cog"></i></a>
      </div>

      {{#if (lt system.attributes.hp.value 1)}}
      <div class="attribute death-save-attribute">
        <h4 class="attribute-name box-title death-save rollable" data-action="rollDeathSave">
          {{localize 'DND5E.DeathSave'}}</h4>
        <div class="attribute-value multiple">
          <div>
            <input type="text" name="system.attributes.death.success" data-dtype="Number" placeholder="0"
              value="{{system.attributes.death.success}}" />
            <label class="attribute-footer">
              <i class="fas fa-check"></i></label>
          </div>
          <div>
            <input type="text" name="system.attributes.death.failure" data-dtype="Number" placeholder="0"
              value="{{system.attributes.death.failure}}" />
            <label class="attribute-footer">
              <i class="fas fa-times"></i>
            </label>
          </div>
          <div>
            <small><input type="text" name="system.attributes.hp.value" data-dtype="Number" placeholder="0"
                value="{{system.attributes.hp.value}}" /></small>
            <label class="attribute-footer">
              <small>{{localize 'DND5E.ActionHeal'}}</small>
            </label>
          </div>
        </div>
      </div>
      {{else}}
      <div class="attribute health">
        <h4 class="attribute-name box-title">{{localize "DND5E.HitPoints"}} <a class="config-button"
            data-action="hit-points" data-tooltip="{{localize 'DND5E.HitPointsConfig'}}">
            <i class="fas fa-cog"></i>
          </a></h4>

        <div class="attribute-value multiple">
          <input name="system.attributes.hp.value" type="text" value="{{hp.value}}" placeholder="10"
            data-tooltip="{{localize 'DND5E.HitPointsCurrent'}}" data-dtype="Number">
          <span class="sep"> / </span>
          <span data-tooltip="{{#if hp.max}}{{localize 'DND5E.HitPointsOverride'}}
              {{~ else}}{{localize 'DND5E.HitPointsMax'}}{{/if}}">{{hp.max}}</span>
        </div>
        <footer class="attribute-footer">
          <input name="system.attributes.hp.temp" type="text" class="temphp" placeholder="+{{ localize 'DND5E.Temp' }}"
            value="{{hp.temp}}" title="{{localize 'DND5E.HitPointsTemp'}}" data-dtype="Number">
          <input name="system.attributes.hp.tempmax" type="text" class="temphp"
            placeholder="+{{ localize 'DND5E.Max' }}" value="{{hp.tempmax}}"
            title="{{localize 'DND5E.HitPointsTempMax'}}" data-dtype="Number">
        </footer>
      </div>
      {{/if}}
    </div>
  </section>
</header>
