<aside class="sheet-sidebar traits">

  <div class="fancy-value">
    <h4>{{ localize "DND5E.ProficiencyBonus" }}</h4>
    <div>{{numberFormat data.attributes.prof decimals=0 sign=true}}</div>
  </div>


  <div class="fancy-value">
    <h4>{{ localize "DND5E.Inspiration" }}</h4>
    <div>
      <input type="checkbox" name="data.attributes.inspiration" data-dtype="Boolean"
        {{checked data.attributes.inspiration}} />
      <i class="fas fa-sun {{#if data.attributes.inspiration}}active{{/if}}"></i>
    </div>
  </div>

  {{!-- Skills --}}
  <ul class="skills-list">
    {{#each data.skills as |skill s|}}
    <li class="skill flexrow {{#if skill.value}}proficient{{/if}}" data-skill="{{s}}">
      <input type="hidden" name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number" />
      <a class="proficiency-toggle skill-proficiency" title="{{skill.hover}}">{{{skill.icon}}}</a>
      <span class="skill-ability">{{skill.ability}}</span>
      <h4 class="skill-name rollable">{{skill.label}}</h4>
      <span class="skill-mod">{{numberFormat skill.total decimals=0 sign=true}}</span>
      <!-- <span class="skill-passive">({{skill.passive}})</span> -->
    </li>
    {{/each}}
  </ul>

  {{> (cb5es-path "templates/parts/actor-traits.hbs")}}

</aside>